@model NotificationsViewModel

<h2>Recent Events</h2>

@if(Model.RecentEvents.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Event Date</th>
                <th>Description</th>
                <th>Amount Out</th>
                <th>Amount In</th>
                <th>Driver Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RecentEvents)
            {
                <tr>
                    <td>@item.EventDate.ToShortDateString() @item.EventDate.ToShortTimeString()</td>
                    <td>@item.Description</td>
                    <td>@item.AmountOut</td>
                    <td>@item.AmountIn</td>
                    <td>@item.Driver?.DriverName</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No recent events in the last 12 hours</p>
}
