@model DriverDetailsViewModel

@{
    ViewData["Title"] = "Driver Details";
}

<h2>Driver Details</h2>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Driver ID
        </dt>
        <dd class="col-sm-10">
            @Model.Driver.DriverID
        </dd>
        <dt class="col-sm-2">
            Driver Name
        </dt>
        <dd class="col-sm-10">
            @Model.Driver.DriverName
        </dd>
        <dt class="col-sm-2">
            Car Registration
        </dt>
        <dd class="col-sm-10">
            @Model.Driver.CarReg
        </dd>
        <dt class="col-sm-2">
            Note Date
        </dt>
        <dd class="col-sm-10">
            @Model.Driver.NoteDate.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Note Description
        </dt>
        <dd class="col-sm-10">
            @Model.Driver.NoteDescription
        </dd>
        <dt class="col-sm-2">
            Responsible Employee
        </dt>
        <dd class="col-sm-10">
            @Model.Driver.ResponsibleEmployee
        </dd>
        <dt class="col-sm-2">
            Total Amount In
        </dt>
        <dd class="col-sm-10">
            @Model.Driver.TotalAmountIn
        </dd>
        <dt class="col-sm-2">
            Total Amount Out
        </dt>
        <dd class="col-sm-10">
            @Model.Driver.TotalAmountOut
        </dd>
    </dl>
</div>

<div>
    <h3>Driver Events</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.DriverEvents != null && Model.DriverEvents.Any())
            {
                @foreach (var eventItem in Model.DriverEvents)
                {
                    <tr>
                        <td>@eventItem.EventDate.ToShortDateString()</td>
                        <td>@eventItem.Description</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">No events found</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Driver.DriverID">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-controller="Event" asp-action="AddEvent" asp-route-driverId="@Model.Driver.DriverID">Add Event</a>
</div>



